@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,500&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  /* font-family: "Poppins", sans-serif; */
}
.nav::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

* {
  font-family: "Roboto", sans-serif;
}
/* Track */
.nav::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.nav::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}
.swiper {
  position: unset !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  /* display: none !important; */
  position: static;
  margin-top: 30px;
}
/* .swiper-pagination-bullet .swiper-pagination-bullet-active {
} */
.swiper-pagination-bullet-active {
  background-color: #f79918 !important;
}

.scale:hover {
  transform: scale(1.1);
}
.scale {
  transition: all 0.51s;
}
